/* window transparencies */
#main-window {
	background: var(--bct-main-window) !important;
	-moz-appearance: var(--bct-moz-appearance) !important;
}
/* customization page */
#customization-container {
	background: var(--bct-w-pages-bg) !important;
}
/* blank page */
#tabbrowser-tabpanels{
	background: var(--bct-w-pages-bg) !important;
}

/* navbar / tabbar / titlebar */
#nav-bar, #TabsToolbar, #PersonalToolbar, findbar {
	background: transparent !important;
	border-color: transparent !important;
}
#navigator-toolbox {
	background: var(--bct-w-nav-bg) !important;
	border: none !important;
}
#urlbar-background {
	background: var(--bct-w-url-bg) !important;
}

.tab-background[selected="true"] {
	background: var(--bct-w-tab-selected-bg) !important;
}


/* Sidebar */
#sidebar-box,
#sidebar-box:-moz-lwtheme-darktext,
#sidebar-box:-moz-lwtheme-brighttext {
	--sidebar-background-color: var(--bct-w-sidebar-bg) !important;
	--sidebar-text-color: var(--bct-w-sidebar-color) !important;
	background: var(--bct-w-sidebar-bg) !important;

}
#sidebar,
.sidebar-panel {
	background: transparent !important;
}
